<!-- Footer -->
<footer class="footer">
  <div class="container">
      <p> &copy; 2019 -
      <span class="text-muted">By Ronnie Joshua :: The Analytics Developer |
          <a href="mailto:ron.juden@gmail.com">ron[.]juden(at)gmail{dot}com</a>
          | +972 zero 8S S17NOV83 |
          <a href="https://github.com/ronniejoshua"></a>
          <a href="https://www.linkedin.com/in/ronnie-joshua/"></a>
          <a href="https://medium.com/@ron.gujjew"></a>
          <a href="https://twitter.com/ronthegujjew"></a>
          <a href="https://www.facebook.com/ronjuden"></a>
      </span>
      </p>

  </div>
</footer>
