    <!-- _navbar is used in all web pages. It's the 1st snippet to render in the body tag -->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV7VPXZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div>
      <a href="https://www.linkedin.com/in/ronnie-joshua/">Ronnie Joshua</a>
    </div>

    <ul>
        <li><a href="/">Curriculum vitae</a></li>
    </ul>
