<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://abagada.com/">Abagada</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/us_maps">US Geo Mapping</a></li>
        <li><a href="/br_maps">Brazil Geo Mapping</a></li>
        <li><a href="/mx_maps">Mexico Geo Mapping</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
  </div>
</nav>