{% extends 'layout.html' %}

{% block body %}
    <main role="main">
    <div class="job_profile">
    <article">
      <h2>Data Developer | Junior Data Engineer</h2>
      <h3>AbaGada Internet Ltd.</h3>
      <h5>June 2019 - Present</h5>
      <h5>Tel Aviv, Israel</h5>
      <section>
          <h3>About</h3>
        abaGada is a leading Performance Marketing agency and part of the global
        Dentsu Aegis Network. abaGada manages high scale global
        multi-dimensional marketing activities for high profile, big brands.
        Major Clientele: Google & Waze
      </section>
        <section>
      <h3>Responsibilies</h3>
      <ul>
        <li>
          Scripted extensive and robust data pipelines in Python 3 to carry out
          both ETL & ELT
        </li>
        <li>
          Wrote various Advertising API Data to Big Query Connector using Python
        </li>
        <li>
          Platforms Include: Linkedin, Twitter, Outbrain, Snapchat, Microsoft
          Ads, Liftoff, Display-Video 360 & Taboola
        </li>
        <li>Re-wrote existing Python 2.7 ETL scripts to Python 3.5</li>
        <li>Developed & maintained the in-house analytical data model.</li>
        <li>Developed ad-hoc data development tools for data analysts.</li>
        <li>
          Provided strategists, analysts, and clients with technical support for
          their data activity.
        </li>
        <li>
          Worked closely with the tech lead on the design and implementation of
          big data solutions.
        </li>
        <li>Ran research & POCs for new technologies and tools.</li>
      </ul>
      </section>
      <section>
          <h3>Technology Stack</h3>
        Google Cloud Platform(GCP) - Extensively worked on Big Query, Cloud
        Storage, Compute Engine, App Engine, Cloud Functions, Cloud Scheduler,
        Cloud Source Repositories, Dataflow & Google Maps API ✪ Comfortable
        working in a Linux based environment ✪ Leveraging Apache Beam & Apache
        Airflow for creating & maintaining data pipelines
      </section>


      <section>
          <h3>Scripting</h3>
        Scripting Languages: Python, Javascript, SQL, Google Apps Script(Google
        Sheets) & Shell Scripting
      </section>
    </article>
    </div>
        </main>
  <div class="container">
      <div class="row about_row"></div>
      <div class="row about_row"></div>
      <div class="row about_row"></div>
      <div class="row about_row"></div>
  </div>
{% endblock %}