{% extends 'layout.html' %}

{% block body %}
  <div>
    <h1>Welcome to my static webpage, this application is build with Flask and hosted on Google App Engine </h1>

    <h3>Created By: {{author}}</h3>

    <P>
      I am an Autodidact, passionate about implementing & exploring technological innovations in the domain of
      data analytics. I endeavor to help enterprises transform & grow in a competitive environment by creating
      or enhancing their data-driven decision-making process.
    </P>

    <P>
      Let’s connect and discover the ways in which I can help you capitalize on the latest technological
      innovations in the domain of data-driven decision making & analytics.
    </P>

  </div>
{% endblock %}