<!DOCTYPE html>
<html>
  <!-- layout.html - used for generating common layout for all web pages -->

  <!-- Generic Head [Common for All Pages] -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Web Analytics</title>

    <!-- Google Tag Manager Code [Jinja Templating]-->
    <script src="{{ url_for('static', filename='scripts/my_gtm.js') }}"></script>
  </head>

  <!-- Generic Body [Common for All Pages] -->
  <body>
    <!-- Generic Navigation Bar for All Pages [Jinja Templating]-->
    {% include 'includes/_navbar.html' %}

    <div>
      {% block body %}


      {% endblock %}
    </div>

  </body>
</html>