<!DOCTYPE html>
<html>
  <!-- layout.html - used for generating common layout for all web pages -->

  <!-- Generic Head [Common for All Pages] -->
  <head>
    <meta charset="utf-8">
    <title>Web Analytics</title>

    <!-- Google Tag Manager Code [Jinja Templating]-->
    <script src="{{ url_for('static', filename='my_gtm.js') }}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  </head>

  <!-- Generic Body [Common for All Pages] -->
  <body>
    <!-- Generic Navigation Bar for All Pages [Jinja Templating]-->
    {% include 'includes/_navbar.html' %}

    <div class="container">
      {% block body %}


      {% endblock %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>

</html>